.oliver{
    height: 108vh;
    width: 96vh;
    overflow-y: hidden;
    background-image: url('../../public/oliver-assinado.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 80%;
    margin-left: -241px;
    margin-top: 130px;
}


@media only screen  and (max-width:800px) {

    .oliver{
        display: none !important;
    }
    
}