.mticons {
    max-width: 497px;
    margin-top: 10vh !important;
    p {
        padding-right: 20px;
    }
    a{
        text-decoration: none !important;
        
    }
}

.plink {
    text-align: center;
    color: white;
    font-size: 15px;
}

.psocial {
    text-align: center;
    color: white;
    font-size: 12px;
}


@media (max-width: 600px) {
    .mticons {
        margin-left: 0px;
        padding: 40px;
    }
    .psocial {
        font-size: 5px;
    }
    .plink {
        font-size: 10px;
    }
}
