.mticons {
    max-width: 497px;
    margin-top: 3vh;
    p {
        padding-right: 20px;
    }
    a {
        text-decoration: none !important;
    }
}

.plink {
    text-align: center;
    color: white;
    font-size: 15px;
}

.psocial {
    text-align: center;
    color: white;
    font-size: 12px;
}

@media (max-width: 600px) {
    .mticons {
        margin-top: 0vh !important;
        margin-left: 0px;
        padding: 40px;
        p {
            padding-right: 0px !important;
        }
    }
    .psocial {
        font-size: 5px;
    }
    .plink {
        font-size: 10px;
    }
}
