.container {
  height: 100vh;
  overflow: hidden;
  background-image: url("../public/background/bkg2.png");
  background-size: cover;
  background-position-y: -10vh;
  background-repeat: no-repeat;
}
.containerSobre {
  height: 100vh;
  overflow: hidden;
  background-image: url("../public/background/bkg-tijolo.png");
  background-size: cover;
  background-position-y: -10vh;
  background-repeat: no-repeat;
}


@media only screen and (max-width: 700px) {
  .container {
    height: 100vh;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    background-image: url("../public/background/bkg-mobile.png");
    background-size: 100%;
    background-position-y: -10vh !important;
    background-repeat: no-repeat;
  }
  .containerSobre {
    height: 100vh;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    background-image: url("../public/background/bkg-mobile-construindo.png");
    background-size: 100%;
    background-position-y: -10vh !important;
    background-repeat: no-repeat;
  }
}
