.container1,
.container2,
.container3,
.container4,
.container5,
.container6,
.container7,
.container7,
.container8 {
    height: 100vh;
    overflow-x: hidden;
    background-size: cover;
    background-position-y: -15vh;
    background-repeat: no-repeat;
    h2 {
        font-size: 25px;
        font-weight: 700;
        padding-bottom: 100px;
    }
}

.container1 {
    background-image: url("../public/background/wppcolor1.png");
}
.container2 {
    background-image: url("../public/background/wppcolor2.png");
}
// .container3{background-image: url("../public/background/wppcolor3.png");}
// .container4{background-image: url("../public/background/wppcolor4.png");}
.container5 {
    background-image: url("../public/background/wppcolor5.png");
}
.container6 {
    background-image: url("../public/background/wppcolor6.png");
}
.container7{background-image: url("../public/background/wppcolor7.png");}
.container8{background-image: url("../public/background/wppcolor8.png");}

// CAPAS DOS LIVROS BACKGROUND

.capa {
    margin-left: -40px;
    height: 140px;
    width: 116px;
    background-repeat: no-repeat;
    background-size: 110px;
}

.capa1livro1 {
    background-image: url("../public/livros/atalhos/c1.jpg");
}
.capa2livro1 {
    background-image: url("../public/livros/atalhos/c2.jpg");
}
.capa3livro1 {
    background-image: url("../public/livros/atalhos/c3.jpg");
}
.capa4livro1 {
    background-image: url("../public/livros/atalhos/c4.jpg");
}
.capa5livro1 {
    background-image: url("../public/livros/atalhos/c5.jpg");
}

.capa1livro2 {
    background-image: url("../public/livros/tempo/c1.jpg");
}
.capa2livro2 {
    background-image: url("../public/livros/tempo/c2.jpg");
}
.capa3livro2 {
    background-image: url("../public/livros/tempo/c3.jpg");
}
.capa4livro2 {
    background-image: url("../public/livros/tempo/c4.jpg");
}
.capa5livro2 {
    background-image: url("../public/livros/tempo/c5.jpg");
}

.capa1livro4 {
    background-image: url("../public/livros/universidade-internet/c1.jpg");
}
.capa2livro4 {
    background-image: url("../public/livros/universidade-internet/c2.jpg");
}
.capa3livro4 {
    background-image: url("../public/livros/universidade-internet/c3.jpg");
}
.capa4livro4 {
    background-image: url("../public/livros/universidade-internet/c4.jpg");
}
.capa5livro4 {
    background-image: url("../public/livros/universidade-internet/c5.jpg");
}

.capa1livro5 {
    background-image: url("../public/livros/livro5/c1.png");
}
.capa2livro5 {
    background-image: url("../public/livros/livro5/c2.png");
}
.capa3livro5 {
    background-image: url("../public/livros/livro5/c3.png");
}
.capa4livro5 {
    background-image: url("../public/livros/livro5/c4.png");
}
.capa5livro5 {
    background-image: url("../public/livros/livro5/c5.png");
}

.capa1livro6 {
    background-image: url("../public/livros/livro6/c1.png");
}
.capa2livro6 {
    background-image: url("../public/livros/livro6/c2.png");
}
.capa3livro6 {
    background-image: url("../public/livros/livro6/c3.png");
}
.capa4livro6 {
    background-image: url("../public/livros/livro6/c4.png");
}
.capa5livro6 {
    background-image: url("../public/livros/livro6/c5.png");
}

.capa1livro7 {
    background-image: url("../public/livros/livro7/c1.png");
}
.capa2livro7 {
    background-image: url("../public/livros/livro7/c2.png");
}
.capa3livro7 {
    background-image: url("../public/livros/livro7/c3.png");
}
.capa4livro7 {
    background-image: url("../public/livros/livro7/c4.png");
}
.capa5livro7 {
    background-image: url("../public/livros/livro7/c5.png");
}

// .capa1livro8 {
//     background-image: url("../public/livros/livro8/c1.png");
// }
// .capa2livro8 {
//     background-image: url("../public/livros/livro8/c2.png");
// }
// .capa3livro8 {
//     background-image: url("../public/livros/livro8/c3.png");
// }
// .capa4livro8 {
//     background-image: url("../public/livros/livro8/c4.png");
// }
// .capa5livro8 {
//     background-image: url("../public/livros/livro8/c5.png");
// }

//PREÇO BKG

.precoGeral {
    height: 250px;
    width: 96%;
    background-repeat: no-repeat;
    background-size: 100%;
}
.precol1 {
    background-image: url("../public/livros/atalhos/preco.png");
}
.precol2 {
    background-image: url("../public/livros/tempo/preco.png");
}
.precol3 {
    background-image: url("../public/livros/tempo/preco.png");
}
.precol4 {
    background-image: url("../public/livros/universidade-internet/preco.png");
}
.precol5 {
    background-image: url("../public/livros/livro5/preco.png");
}
.precol6 {
    background-image: url("../public/livros/livro6/preco.png");
}
.precol7 {
    background-image: url("../public/livros/livro7/preco.png");
}
.precol8 {
    background-image: url("../public/livros/livro8/preco.png");
}

.bgLivroum {
    background-color: #f2872e;
}
.colorLivroum {
    color: #f2872e !important;
}
.bgLivrodois {
    background-color: #f2f22e88;
}
.colorLivrodois {
    color: #f2f22e;
}
.bgLivrotres {
    background-color: #f2f22e88;
}
.colorLivrotres {
    color: #f2f22e;
}
.bgLivroquatro {
    background-color: #3a3a3a;
}
.colorLivroquatro {
    color: #d37c3d !important;
}
.bgLivrocinco {
    background-color: #233d15;
}
.colorLivrocinco {
    color: #eb3038 !important;
}
.bgLivroseis {
    background-color: #eb3038;
}
.bgLivrosete {
    background-color: #276A7C;
}
.colorLivrosete {
    color: #e97d1f !important;
}

.precoLivro {
    width: 100px;
    height: auto;
    position: sticky;
    top: 390px;
    left: 680px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    border-radius: 0.1em;

    p {
        color: #fff;
        font-weight: 700;
        padding: 6px;
    }
}
.sipnose {
    width: 50vh;
    height: 80vh;
    margin-left: 10vh;
    overflow-y: scroll;
}
.sipnoseImg {
    width: 50vh;
    height: 80vh;
    margin-left: 10vh;
}
.sipnose1 {
    background-color: #081a47a2;
}
.sipnose2 {
    background-color: #474747a2;
}
.sipnose3 {
    background-color: #081a47a2;
}
.sipnose4 {
    background-color: #081a47a2;
}
.sipnose5 {
    background-color: #233d1582;
}
.sipnose6 {
    background-color: #5c1b1b82;
}
.sipnose7 {
    background-color: #e97d1f81;
}
.sipnose8 {
    background-image: url("../public/sipnose/punheta-img.jpeg");
    background-size: cover;
    background-position-y: -5vh;
    background-repeat: no-repeat;
}

.img {
    padding-top: 15px;
    margin-left: 10px;
}

.text {
    color: white;
    padding: 15px;
    font-weight: 700;
    text-align: center;
}

.sectionpagamento {
    margin-left: -40px;
    margin-top: -300px;
    height: 250px;
    width: 66%;
}

.pix {
    height: 250px;
    width: 96%;
    background-image: url("../public/pix.png");
    background-size: cover;
    background-position-y: -5vh;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 700px) {
    .container1,
    .container2,
    .container3,
    .container4,
    .container5,
    .container6,
    .container7,
    .container7,
    .container8 {
        height: 100vh;
        overflow-y: auto !important;
        overflow-x: hidden !important;
        background-size: cover;
        background-position-y: 0vh !important;
        background-repeat: no-repeat;
        h2 {
            font-size: 25px;
            padding-top: 10px;
            font-weight: 700;
            display: none;
        }
    }

    .sipnose {
        width: 87%;
        margin-left: 25px !important;
        height: 80vh;
        overflow-y: scroll;
    }
    .sipnoseImg {
        width: 87%;
        margin-left: 25px !important;
        height: 80vh;
    }

    .capa {
        margin-left: 30px;
        margin-top: 15px;
        height: 140px;
        width: 116px;
        background-repeat: no-repeat;
        background-size: 110px;
    }
    .sectionpagamento {
        margin-left: 20px;
        margin-top: 5vh;
        height: 250px;
        width: 96%;
    }

    .ilustrativo {
        height: 250px;
        width: 96%;
    }

    .pix {
        height: 250px;
        width: 100%;
        background-image: url("../public/pix.png");
        background-size: cover;
        background-position-y: 0vh;
        background-repeat: no-repeat;
    }
    .img {
        padding-top: 15px;
        margin-left: 30px;
    }
}
