.mticons {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding-top: 5vh;
    a {
        text-decoration: none !important;
    }
}

.plink {
    text-align: center;
    color: white;
    font-size: 15px;
}

.psocial {
    text-align: center;
    color: white;
    font-size: 12px;
}

@media (max-width: 600px) {
    .mticons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
        padding: 20px;
    }
    .psocial {
        font-size: 5px;
    }
    .plink {
        font-size: 10px;
    }
}
