.mticons {
    
    padding-top: 5vh;
    margin-right: 80px;
    position: absolute;
    z-index: 10;
    a {
        text-decoration: none !important;
    }
}

.plink {
    text-align: center;
    color: white;
    font-size: 15px;
}

.psocial {
    text-align: center;
    color: white;
    font-size: 12px;
}

@media (max-width: 600px) {
    .mticons {
        margin-top: 5vh !important;
        margin-left: 0px;
        padding: 0px;
        margin-right: 0px;
        
    }
    .psocial {
        font-size: 5px;
    }
    .plink {
        font-size: 10px;
    }
}
